body {
    background-color: bisque;
    font-family: Bai-Janjuree;
}

footer {
    background-color: black;
    color: white;
    position: fixed;
    width: 100% height: 2 rem;
}

footer Q {
    text-align: center;
    font-size: 0, 6 rem;
    margin-top: 0, 5 rem;
}
